@media screen and (max-width: 1400px) {
  #profile {
    height: 81vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  .tech_skill-container {
    flex-wrap: wrap;
  }
  .about-details-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    background-color: var(--color6);
    transition: all 0.2s ease-in-out;
  }
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color5);
    backdrop-filter: blur(5px);
    padding: 12px 30px;
    border: none;
    margin-bottom: -1px;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  #check:checked ~ .open-menu {
    display: none;
  }

  #profile,
  .section-container {
    display: block;
  }

  section .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }
  .blob {
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}
