@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color1: #ffffff;
  --color2: #51d4de58;
  --color3: #140d0da2;
  --color4: #67c5c5f3;
}
body {
  font-family: "Poppins", sans-serif;
  background: #e3edff;
}
html {
  scroll-behavior: smooth;
}
p {
  color: rgb(104, 103, 103);
}
/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.3rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo {
  cursor: pointer;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5re;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(11px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(11px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}
/* .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color4);
  padding: 12px 30px;
  border: none;
  margin-bottom: -1px;
  height: 13vh;
  font-size: 1.2rem;
} */
/* .logo img {
  width: 60px;
  margin-top: 15px;
} */
/* .menu {
  display: flex;
} */
/* .menu li {
  padding-left: 30px;
} */
/* .menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color3);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
} */
/* .menu li a:hover {
  color: rgb(116, 111, 111);
  text-decoration-color: rgb(181, 181, 181);
} */
/* .menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
} */
/* .menu li a:hover:after {
  width: 100%;
} */
/* .open-menu,
.close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
} */
/* .open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */
/* .close-menu {
  top: 31px;
  right: 20px;
}
#check {
  display: none;
} */
.wave-container {
  position: relative;
  border: none;
  margin-top: 0;
}
.wave-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border: none;
}
.wave-opacity svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.wave-opacity .shape-fill {
  fill: #94dedef3;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container {
  display: flex;
  gap: 3rem;
  height: 90%;
}
/* PROFILE SECTIONS */
#profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.blob {
  display: flex;
  align-self: center;
  background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
  height: 200px;
  width: 200px;
  box-shadow: 0 5px 5px 5px rgba(13, 109, 253, 0.6);
  animation: animate 5s ease-in-out infinite;
  border: none;
}
@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
.star-container {
  border: none;
  align-self: center;
  justify-self: start;
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  background: linear-gradient(125deg, #00103a 0%, #3e5f77 100%);
  backdrop-filter: blur(10px);
  clip-path: circle(50% at 50% 50%);
  transform: rotateZ(45deg);
}
/* shooting star */
.star {
  border: none;
  position: absolute;
  top: 35%;
  left: 20%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  width: 7px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff),
    rgba(0, 0, 255, 0);
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
}
.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}
.star:nth-child(1) {
  top: calc(50% - 71px);
  left: calc(50% - -15px);
  animation-delay: 57ms;
}
.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 148ms;
}
.star:nth-child(2) {
  top: calc(50% - -35px);
  left: calc(50% - 54px);
  animation-delay: 455ms;
}
.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 65ms;
}
.star:nth-child(3) {
  top: calc(70% - -12px);
  left: calc(50% - 190px);
  animation-delay: 650ms;
}
.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 13ms;
}
.star:nth-child(4) {
  top: calc(67% - -28px);
  left: calc(50% - 9px);
  animation-delay: 300ms;
}
.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 20ms;
}
.star:nth-child(5) {
  top: calc(80% - 98px);
  left: calc(50% - 190px);
  animation-delay: 14ms;
}
.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 65ms;
}

/* animations */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  30% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(320px);
  }
}
.animated_pic-container {
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: end;
  height: 200px;
  width: 200px;
  margin: auto 0;
  position: absolute;
}
.profile-image {
  width: 150px;
  height: 150px;
}
.profile-image {
  animation: rotation 10s infinite linear;
  transform: rotate(180deg) translateX(70px);
}
@keyframes rotation {
  0% {
    transform: rotate(-360deg) translateX(20px) translateY(15px) rotate(0deg);
  }
  25% {
    transform: rotate(90deg) translateX(17px) translateY(16px) rotate(-180deg);
  }
  50% {
    transform: rotate(180deg) translateX(17px) translateY(16px) rotate(-90deg);
  }
  75% {
    transform: rotate(360deg) translateX(17px) translateY(16px) rotate(-360deg);
  }
  100% {
    transform: rotate(0deg) translateX(20px) translateY(15px) rotate(360deg);
  }
}
/* --- */
.section_text {
  align-self: center;
  text-align: center;
}
.section_text p {
  font-weight: 600;
}
.section_text-p1 {
  text-align: center;
}
.section_text-p2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.title {
  font-size: 3rem;
  text-align: center;
}
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICON */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}
.btn-color-1,
.btn-color-2:hover {
  background: var(--color4);
  color: white;
}
.btn-color-1:hover {
  background: var(--color4);
}
.btn-color-2 {
  background: none;
}
.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}
.btn-container {
  gap: 1rem;
}

/* About Section */
#about {
  position: relative;
}
.about-containers {
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-details-container {
  justify-content: center;
  flex-direction: column;
}
.about-containers,
.about-details-container {
  display: flex;
}
.section__pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}
.about-pic {
  border-radius: 2rem;
}
.details-container {
  padding: 1rem;
  flex: 1;
  background: var(--color4);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  cursor: default;
}
.tech_skill-container {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.skill_title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
  padding-bottom: 1rem;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
  width: 100px;
  height: 100px;
}
.icon-container:hover p {
  display: block;
  font-weight: bold;
  color: rgb(104, 103, 103);
}
.icon-container:hover .fa-brands {
  font-size: 50px;
  cursor: pointer;
}
.fa-brands {
  font-size: 40px;
  display: block;
  color: rgb(113, 108, 108);
}
.icon-name {
  display: none;
  font-size: small;
}

.tech_skill-title,
.fa-solid {
  order: -1;
}

/* PROJECT SECTION */
#projects {
  position: relative;
}
.projects__container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.project_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 1.5rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
}
.projects_img-container {
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-img {
  border-radius: 2rem;
  width: 300px;
  height: 100%;
  border: rgb(53, 53, 53) 1px solid;
  border-color: rgb(163, 163, 163);
}
.project-subtitle {
  margin: 1rem auto;
  color: rgb(86, 82, 82);
}
/* CONTACT SECTION */

#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.form__container form {
  width: 600px;
  text-align: center;
}
.input_box-container {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
form .input-box {
  display: flex;
  justify-content: space-between;
}
.input-box .input-field {
  width: 48.5%;
}
.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #000000;
  margin: 12px 0;
}
.field .item::placeholder {
  color: rgba(111, 111, 111, 0.968);
}
.field .error-text {
  font-size: 12.5px;
  color: #d93025;
  text-align: left;
  margin: -7px 0 10px;
  display: none;
}
form .textarea-field .item {
  resize: none;
}
form .textarea-field .error-text {
  margin-top: -11px;
}
